.container-fluid > img{
    width: 100%;
    height: auto;
   
}

.container-fluid{
    padding: 0px !important;
}

h3 {
    padding-top: 50px;
    height: 150px;
    text-align: middle;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
    text-align: center;
    }
    .NameItem{
        color: black;
        text-decoration: none;
    }

    figcaption{
        text-align: center;
    }

    figcaption .ToItem{
        opacity: 0;
        color: black;
        font-weight: bold;
    }
    

  .row-image:hover .ToItem{
      opacity: 1;
     }

     @media only screen and (max-device-width: 1024px) {
        .row-image:hover .ToItem{
            opacity: 0;
           }

    }
